<p id="notice"><%= notice %></p>

<table >
  <thead>
    <tr>
      <th>Name</th>
      <th>Short Runs</th>
      <th>Long Runs</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @runners.each do |runner| %>
      <%= render partial: "runners/show_runner_partial", locals: {runner: runner} %>
    <% end %>
  </tbody>
</table>


<div class="right valign-wrapper"> <h5 class="hide-on-med-and-down indent-sm">Add runner</h5><a href="<%= new_runner_path %>" class="btn-floating btn-large waves-effect waves-light orange darken-1 horizontal"><i class="material-icons">add</i></a></div>

