<p id="notice"><%= notice %></p>

<h1>Listing Runners</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short Runs</th>
      <th>Long Runs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runners.each do |runner| %>
      <%= render partial: "runners/show_runner_partial", locals: {runner: runner} %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Runner', new_runner_path %>
