<!DOCTYPE html>
<html>
<head>
  <title>DemandRun</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
	<nav class="light-blue lighten-1" role="navigation">
	    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">DemandRun</a>
	    </div>
  </nav>
<body>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
